<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashify">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:background="#85a8e5"
        android:icon="@drawable/piggyicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/piggyicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

        <receiver
            android:name=".monthly_entries.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_UNLOCKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".monthly_entries.ReoccurringJobService" />

        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.EntryActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".overview.OverviewListActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".password.PasswordActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".database.ShowDataBaseActivity" />
        <activity android:name=".monthly_entries.MonthlyEntryActivity" />
        <activity android:name=".overview.PictureActivity" />
        <activity android:name=".monthly_entries.AddMonthlyEntryActivity" />
        <activity android:name=".monthly_entries.ChangeMonthlyEntryActivity" />
        <activity android:name=".overview.ChangeEntryActivity" />
    </application>

</manifest>