<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashify">

    <application
        android:allowBackup="true"
        android:background="#85a8e5"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/backgroundmoneybag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

        <receiver android:name="com.cashify.mothly_entries.BootReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"></action>
                <action android:name="android.intent.action.USER_UNLOCKED"></action>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name="com.cashify.mothly_entries.DauerauftraegeService"></service>


        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.cashify.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cashify.tabmain.TabMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.cashify.settings.EinstellungenActivity"
            android:label="@string/title_activity_einstellungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.add.AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.overview.StatistikActivity"
            android:label="@string/title_activity_statistik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.overview.OverviewListActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.category.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.overview.password.PasswordActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cashify.database.ShowDataBaseActivity" />
        <activity android:name="com.cashify.mothly_entries.AlarmActivity" />
        <activity android:name="com.cashify.overview.PictureActivity"></activity>
    </application>

</manifest>