<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seps.cashofclans">

    <application
        android:allowBackup="true"
        android:background="#85a8e5"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <receiver
            android:name=".Dauerauftraege"
            android:process=":remote" />

        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EinstellungenActivity"
            android:label="@string/title_activity_einstellungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Overview.StatistikActivity"
            android:label="@string/title_activity_statistik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.category.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cashify.password.PasswordActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Database.ShowDataBaseActivity" />
        <activity android:name=".Overview.OverviewListActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".Overview.PictureActivity"></activity>
    </application>

</manifest>